.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:(8/10)*1rem;
	width:(13/8)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-check2 {
	font-size:(11/10)*1rem;
	width:(14/11)*1em;
}
.icon-fb {
	font-size:(500/10)*1rem;
	width:(257.81/500)*1em;
}
.icon-instagram {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-play {
	font-size:(500/10)*1rem;
	width:(437.5/500)*1em;
}
.icon-servise-1 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-servise-2 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-servise-3 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-servise-4 {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-servise-5 {
	font-size:(58/10)*1rem;
	width:(58/58)*1em;
}
.icon-servise-6 {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-vk {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-why-1 {
	font-size:(475.48/10)*1rem;
	width:(475.48/475.48)*1em;
}
.icon-why-2 {
	font-size:(299.43/10)*1rem;
	width:(299.43/299.43)*1em;
}
.icon-why-3 {
	font-size:(245.02/10)*1rem;
	width:(245.02/245.02)*1em;
}
.icon-why-4 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
