mixin s-team()
	// start s-team
	 
	+b.s-team.section.bg-dark.text-white.block-with-lazy#s-team&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 
					span.text-primary Упаковщики&nbsp;
					|&mdash; это дизайн-команда с&nbsp;аналитическим подходом
				
			+e.slider--js.swiper-container
				.swiper-wrapper
					mixin item(i,t)
						+e.slide.swiper-slide 
							+e.item
								+e.img-wrap
									img.lazy(src="#" data-src=`img/team-${i}.png`, alt="")&attributes(attributes)
								+e.caption
									+e.title= t
									block
						// /+e.slide.swiper-slide
					+item('1','3 ')
						+e.text года в&nbsp;сфере 
							br
							| упаковки
					+item('2','100+')(class="ml2")
						+e.text более 100 выполненных проектов
					+item('3','10+')(class="ml")
						+e.text 4&nbsp;человека в&nbsp;штате и&nbsp;6&nbsp;удаленных
					+item('4','90%')
						+e.text клиентов обращаются к&nbsp;нам снова
			+control-sl()
	// end s-team