.s-order {

	.strike{
		position: relative;
		margin-right: em(6);
		&::after{
			content: '';
			width: 100%;
			height: 1px;
			left: 0;
			@include a-cent(y);
			background-color: $body-color;
		}
	}
	h2 + .h2{
		@include media-breakpoint-down(sm) {
			padding-top: rem(12);
			margin-bottom: .9rem;
		}
	}
	.date{
		display: inline-block;
		background-color: #ffffff;
		padding: em(4) em(7);
		font-weight: 900;
		position: relative;
		@include media-breakpoint-up(xxl) {
			top:  em(-12);
			
		}
		
		@include media-breakpoint-up(lg) {
			top:  em(-11);
			
		}
		
		
		@include media-breakpoint-up(md) {
			
			font-size: em(8.14);
			top:  em(-10);
		}
		font-size: em(12);
		// top:  em(-7);
		top:  em(-6);

		margin-bottom: 0;
	}
	.section-title{
		padding-bottom: 0;
		margin-bottom: 0;
	}
	&__big{
		@extend .display-1;
		font-weight: 900;
		margin-bottom: rem(20);
	}
	&__list-title{
		display: inline-block;
		@extend .h5;
		font-weight: 900;
		padding: em(5) em(9);
		color: $primary;
		background-color: $body-color;
		margin-bottom: em(25);
		
	}
ul{

	list-style-type: none;
}
	li:not(:last-child){
		position: relative;
		padding-left: em(32);
		margin-bottom: em(6);
		&::before{
			content: '';
			background-image: url(../img/li-before.svg);
			background-size: 100% 100%;
			width: em(19);
			height: em(19);
			position: absolute;
			left: 0;
			top: em(4);
		}
	}
	ul{
		position: relative;
		text-align: left;
		
		.before{
			content: '';
			@include media-breakpoint-up(xl) {
				
				margin-bottom: rem(60);
			}
			@include media-breakpoint-up(lg) {
				
				background-image: url(../img/arrow-down.png);
				width: rem(143px);
				height: rem(235px);
			}
			@include media-breakpoint-up(sm) {
				
			}
			@include media-breakpoint-up(md) {
				margin-bottom: rem(50);
				
				width: rem(50px);
				height: rem(141px);
				background-image: url(../img/arr-down-sm.png);
				background-size: cover;
				@include media-breakpoint-only(xl) {

					top: 45%;
				}
				top: 90%;
			right: 0;
			transform: translateX(-60%);
			// margin-left: -50%;
			position: absolute;
			background-position: bottom right;
		}
		}
	}
	&__img-wrap{
		margin-top: rem(-80);
		@include media-breakpoint-up(lg) {

			margin-left: rem(-15);
		}
		margin-left: rem(-55);
	}
	@include media-breakpoint-up(md) {
		text-align: left;
	}
	text-align: center;
	img{
		@include media-breakpoint-down(xxl) {
			max-height: 620px;
		}

	}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	ul{

		@include media-breakpoint-down(sm) {
			margin-bottom: rem(90);
		}
		@include media-breakpoint-down(xs) {
			margin-bottom: rem(70);

		} 
	}

}