.form-wrap{
 	 
 	&__btn{
 		cursor: pointer;
	 }
	 &__input{
		 outline: none;
		 border: 1px solid #d9d9d9;
		 &:focus{
			box-shadow: 0 5px 15px rgba(29, 27, 29, 0.15);
	
		}
	 }
 	&__title{
		 font-weight: 900;
		 margin-bottom: .8em;
		 margin-right: -10px;
		 @include media-breakpoint-up(md) {
			 text-align: left;
			 margin-right: 0;
			 margin-left: 0;
			}
			max-width: em(280);
		 text-align: center;
		 margin-left: auto;
		 margin-right: auto;
		//  margin-right: -10px;
	 }
	 &__btn{
		 margin-left: auto;
		 margin-right: auto;
		 @include media-breakpoint-up(md) {
			 max-width: none;
			 margin-top: 0;
		 }
		 margin-top: rem(20);
		 max-width: rem(300);
		 margin-bottom: rem(20);
	 }
  .code-btn {
 
  -moz-transition: .3s ;
		width: rem(40px);
		height: rem(40px);
		border-radius: rem(5px);
		background-color: #f5f7f7;
		left: 14px;
		@include a-cent(y);
		cursor: pointer;
		transition: .3s
	}
}
.input-phone{
	width: 100%;
	display: block;
	border: 1px solid #ced4da;
	position: relative;
	border-radius: rem(5);
	@include mt;
	&:focus{
		
		// box-shadow: 0 5px 15px rgba(29, 27, 29, 0.15);
	}
	input{
		border: none !important;
		padding-left: rem(100);
		margin-bottom: 0;
		// box-shadow: none !important;
	}
}
 
  .code-btn {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  background-color: #f5f7f7;
  left: 14px;
  top: 14px;
  cursor: pointer;
	transition: .3s;
	position: absolute;
}

  .code-btn .icon {
  font-size: rem(10);
  position: absolute;
  left: 50%;
  top: 50%;
 
  transform: translate(-50%, -50%) ;
 
  transition: .3s
}

 .code-btn.active svg {
 
  transform: translate(-50%, -50%) rotate(-180deg)
}


 .code-btn:hover {
  background-color: $primary;
}
.input-phone.has-error{
	border-color: #ef3838;
}
 .input-phone .code-span {
  // font-family: Circe, sans-serif;  
  letter-spacing: 0;
  text-transform: none;
  position: absolute;
	left: rem(68px);
	@include a-cent(y);
	line-height: 1.5;
	font-size: 1.1rem;
	margin-top: em(0);
  // top: rem(23px);
}

  .code-menu {
  width: rem(280px);
  height: rem(216px);
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .1);
  overflow-y: scroll; 
  top: calc(100% + 4px);
  left: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	display: none;
	position: absolute;
	width: 100%;
}

 .code-menu li {
  // font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: normal;
  color: #1e2831;
  letter-spacing: 0;
  font-weight: 600;
  padding: 4px 15px 6px;
  cursor: pointer
}

 .code-menu li:first-child {
  padding-top: 12px
}

 .code-menu li.border {
  height: 1px;
  padding: 0;
  margin: 10px 0;
  background-color: #e5e5e5
}

 .code-menu li span {
  font-weight: 400;
  padding-left: 2px
}

 .code-menu li:hover {
  background-color: #f5f7f7
}

 .code-menu.show {
  display: block
}
.parsley-error{
	border-image: none;
	border: 2px solid  red !important;
	color: red;
	outline: 0 !important;
	 
}
.parsley-success{
	border: 2px solid  #00d600 !important;

}
.parsley-errors-list{
	color: red;
}
 .input-phone.has-error input {
  border: 2px solid #ef5d60
}

 .input-phone.has-error:hover input {
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0
}



// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}




.custom-input{
	@include media-breakpoint-up(md) {
		margin-top: 0;
	}
	margin-top: rem(20);
	display: block;
	margin: auto;
	margin-left: rem(15);
	 
	margin-bottom: rem(20);
	cursor: pointer;
	position: relative;
	padding-left: rem(60);
	display: inline-block;
	font-size: rem(16);
	&__input{
		position: absolute;
		// opacity: 0;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0 );
		overflow: hidden;
	}
	&__lab{
		left: 0;
		display: block;
		@include a-cent(y);
		// display: inline-block;
		width: rem(40px);
		height: rem(40px);
		border-radius: rem(5px);
		border: 1px solid #d9d9d9;
		@include mt;
		position: absolute; 
		margin-right: 10px;

	}
	&__input[type="checkbox"] + &__lab{
		&::after{ 
			content: '';
			background-image: url("../img/check.svg");
			position: absolute;
			@include a-cent; 
			background-size: 100% 100%;
			width: 17px;
			height: 13px;
			opacity: 0;
			// transform: rotateY(90deg);
			@include mt;
		}
	}
	
	&__input:checked + &__lab{ 
		&::after{
			// transform: rotateY(0);

			opacity: 1;
		}
	}

}





// .jq-selectbox{
// 	max-width: 100%;
// 	margin: auto;
// 	display: block !important;
//  // height: auto;
// 	&__select{
// 		// background-color: transparent;
		 
// 		box-shadow: none !important; 
// 		background-image: none !important;
// 		text-shadow: none;
// 		font-family: $default-font;
// 		font-size: rem(14); 
// 		text-align: left;
// 		border: 1px solid #dadada;
// 		background-color: #fff;
// 		padding-top: rem(12);
// 		padding-bottom: rem(12);
// 		height: auto;
// 		border-radius: rem(6);
// 		@include mt;
// 		&:hover{
		 
// 		}
// 		&-text{
// 			// width: 100% !important;
// 			line-height: 1;
// 		}
// 	}	
// 	&__select:hover &__trigger{
		 
// 	}
// 	&__trigger{
// 		border: none;
// 		background-color: #dadada; 
// 		height: 100%;
// 		width: 40px;
// 		border-radius: rem(6);
// 		text-align: center;
// 		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAYCAYAAAAVibZIAAAA40lEQVRIS9XVXRXCMAwF4HsVgARQABLAATgAZeAAHIAEJIADUFBOdtqdwdKk7OeBPa7pl61JW8J5QghLAKcYtiV58+bQCojgBcA0xj0BrD04iypgyu/CKmqARXALLQBd+AP9ATThGg0h7AAcvMoq4601rtAeYDPHnuRRXnAgMOEVLKg086LDb2tTHiRnZvN3TfRH6MBreic5H6f6o/RpqnCPfn0B2JC8Jkvb+zI4KWwnAVff52vulCqBVbDaptoXxdPKgrNgFo3Fk7tJg03QRDOwC7poAz7HZZIq97tNCzugFfYGUK5wGWWE5JYAAAAASUVORK5CYII=);
// 		background-position: center;
// 		background-repeat: no-repeat;
// 		@include mt;
// 		&:hover{
			

// 		}
// 	}
// 	&__trigger-arrow { 
// 		border: none;
    
// }
// li{
// 	font-size: rem(16);
// 	padding: em(10px) 10px em(10px);
// 	&:hover {
     
//     color: #fff;
// }
// }
// }



.select2-container--default{
	display: block;
	outline: 0 !important; 
	.select2-selection--single{
		border-radius: 0;
		border: none;
		border-bottom: solid 1px ;
		height: auto;
		font-size: rem(24px);
		outline: 0 !important; 
		.select2-selection__arrow b{
				border-color: $success transparent transparent transparent;
			  border-style: solid;
			  border-width: 7px 7px 0 7px;
		}
		.select2-selection__rendered{
			white-space: normal;
			 color: $def;
			 padding-left: 0;
			 padding-bottom: 5px;
		}
	}
} 
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	border-color: transparent transparent $success transparent;
  border-width: 0 7px 7px 7px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: $success;
}