mixin s-steps()
	// start s-steps
	+b.s-steps.section.block-with-lazy.bg-light#s-steps&attributes(attributes)
		+b.scrollblock.scrollblock--js(data-paroller-factor="0.5" data-paroller-type="foreground")
			+e.text  упаковщики
		.container
			+b.section-title.text-center(class="wow fadeInUp" data-wow-duration=`${dur * 2}s`)
				h2 Упаковка бизнеса состоит 
					|
					span.underline из&nbsp;3&nbsp;этапов 
			+e.slider.slider--js.swiper-container
				.swiper-wrapper
					mixin item(i,c,t,p)
						+e.slide.swiper-slide(class="wow fadeInUp" data-wow-duration=`${dur * 2}s`) 
							.row
								+e.col.col-6.d-none.d-lg-block
									+e.img-wrap
										img.res-i.swiper-lazy(src="#", data-src=`img/step-${i}.jpg` alt="")
								.col
									+e.left-block
										block
								
						// /+e.slide.swiper-slide
					+item("1")
						+e.head.img-bg.swiper-lazy( data-src=`img/step-1.jpg`) 
							+e.head-wrap
								+e.counter 1 этап
								+e.title Анализ текущего состояния упаковки бизнеса и&nbsp;поиск уязвимых мест
						+e.text Осуществляем детальный разбор всех точек соприкосновения вашего бизнеса с&nbsp;клиентом, ищем уязвимые места, изучаем позиционирование, прорабатываем целевую аудиторию и&nbsp;исследуем конкурентов.
					+item("2")
						+e.head.img-bg.swiper-lazy( data-src=`img/step-2.jpg`) 
							+e.head-wrap
								+e.counter 2 этап
								+e.title Определение точек роста для&nbsp;формирования имиджа лидера рынка
						+e.text На&nbsp;основе полученных данных формируем аудиторский отчет в&nbsp;котором намечаем стратегию развития, предоставляем рекомендации по&nbsp;усилению упаковки компании и&nbsp;формированию имиджа лидера в&nbsp;своей нише.
					+item("3")
						+e.head.img-bg.swiper-lazy( data-src=`img/step-3.jpg`) 
							+e.head-wrap
								+e.counter 3 этап
								+e.title Внедрение необходимых услуг&nbsp;по&nbsp;упаковке 
									br
									|  в&nbsp;ваш бизнес
						+e.text После изучения аудиторского отчета вы&nbsp;видите реальные на&nbsp;сегодняшний день слабые места вашего бизнеса в&nbsp;упаковке и&nbsp;можете принять осознанное решение по&nbsp;внедрению комплекса или выборочных услуг по&nbsp;развитию имиджа лидера вашей компании в&nbsp;своей нише.

			+control-sl()
	// end s-steps