.top-nav {
	z-index: 1000;
	@include media-breakpoint-up(xxl) {
		padding-top: rem(40);
	}
	top: 0;
	@include media-breakpoint-up(sm) {

		padding-top: rem(30);
	}
	position: absolute;
	width: 100%;
	left: 0; 
	.container{
		@include media-breakpoint-up(xxl) {

			max-width: 1790px + 130px;
			padding-left: rem(80);
			padding-right: rem(80);
		}
		 
	}
	.row{
		align-items: center;
	}
	&__logo{
		z-index: -10000;
		// margin-bottom: rem(15);
			img{
				width: rem(150px);
				height: rem(134px);
			}
			@include media-breakpoint-up(xl) {
				text-align: left;
				margin-left: 0;
			}
			margin-left: 16.66667%;
			text-align: center;
	}
	&__tel{
		@extend h6;
		@extend .text-body;
		@include media-breakpoint-up(sm) {

			color: #ffffff !important;
		}

		font-weight: bold;
		display: inline-block;
		// margin-right: rem(10);
		margin-bottom: 0;
		line-height: 1;
		// margin-bottom: rem(20);
	}
	 
	// 
	@include media-breakpoint-up(xxl) {
	}
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}

// мобильное меню

// мобильное меню
$h: em(2);

.toggle-menu-mobile {
	display: block; 
	cursor: pointer;
	position: relative;
	z-index: 1002 !important;
	right: rem(-20px);  
	text-align: right;
	// top: rem(-8px);


	// span:after,
	// span:before {
	// 	content: "";
	// 	position: absolute;
	// 	left: 0;
	// 	top: $h*3;
	// }

	// span:after {
	// 	top: $h * 6;
	// }

	// span {
	// 	position: relative;
	// 	display: block;
	// }

	// span,
	// span:after,
	// span:before {
	// 	// width: 32px;
	// 	font-size: rem(36px);
	// 	width: 1em;
	// 	height: $h;
	// 	background-color: $primary;
	// 	transition: all 0.3s;
	// 	backface-visibility: hidden; 
	// }

	// &.on {
	// 	opacity: 0;
	// }

	// &.on span {
	// 	background-color: transparent;
	// }

	// &.on span:before {
	// 	transform: rotate(45deg) translate(em(-1), 0px);
	// }

	// &.on span:after {
	// 	transform: rotate(-45deg) translate(em(3), em(-4));
	// }
}

.toggle-menu-mobile--js{

	.ham {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms; 
		user-select: none;
		width: rem(38 * 2);
	}
	.line {
		fill:none;
		transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
		@include media-breakpoint-up(sm) {

			stroke:$primary;
		}
		stroke:$body-color;
		stroke-width:5.5;
		stroke-linecap:round;
	}
	.top {
		stroke-dasharray: 40 139;
	}
	.bottom {
		stroke-dasharray: 40 180;
	}
	&.on{
		.line{
			stroke:$body-color;
		}
		.hamRotate {
			transform: rotate(45deg);
		}
		.hamRotate180 {
			transform: rotate(180deg);
		}
		.line{
			
			stroke:$body-color;
		}
		  .top {
			stroke-dashoffset: -98px;
		}
		  .bottom {
			stroke-dashoffset: -138px;
		}
	}
}
 

.menu-mobile {
	position: fixed !important;
	z-index: 1000;
	@include media-breakpoint-up(lg) {
		max-width: 85%;

		width: rem(962);
	}
	width: 100%;
	height: 101vh;
	
	top: 0;
	// left: 0;
	right: 0;
	transform: translate(100%, 0);
	@include mt(.3);
	will-change: transform;
	&__before {
		content: ''; 
		position: absolute;
		@include a-cent;
		width: 1000000vw;
		height: 1000000vh;
		@include mt;
		background-color: #000000;
		opacity: 0;
		z-index: -1;
		top: 0;
		visibility: hidden;
	}
	
	&.active &__before{ 
		visibility: visible;
		opacity: 0.9; 
	}
	&.active { 
		&::before {
		}
	}
	&__inner {
		background-color: #ffffff;
		padding-top: rem(160);
		padding-bottom: rem(160px);
		
		ul {
			margin-bottom: 0;
			position: relative;
			list-style-type: none;
			display: flex;
			flex-direction: column;
			justify-content: center; 
		// margin-bottom: 0;
		min-height: 100%;
	}
	@include media-breakpoint-up(lg) {

		padding-left: rem(80);
		padding-right: rem(40); 
	}
	padding-left: rem(20);
		padding-right: rem(20); 
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

	&.active {
		transform: translate(0, 0);

		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: -15%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

 
		&__link {
			display: inline-block;
			@extend h2;
			@extend .text-body;
			position: relative;
			text-decoration: none !important;
			z-index: 2;
			&::before{
				content: '';
				position: absolute;
				width: 100%;
				left: 0;
				height: em(6) ;
				background-color: $primary;
				z-index: -1;
				bottom: em(4);
				opacity: 0;
				@include mt;
			}
			&:hover{
				&::before{
					opacity: 1;
				}
			} 
	}
}