 

.soc{
	margin: 0 -7px;
	&__item{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-decoration: none !important;
		margin: 0 7px;
		vertical-align: middle;
		width: rem(70);
		height: rem(70);
		border-radius: 50%;
		@include mt;
		color: #ffffff !important;
		
		.icon{
			font-size: rem(20px);
		}
		$size: 0 rem(5px) rem(15px);
		$op: .8;
		&--vk{
			background-color: #4a76a8;
			&:hover{
				box-shadow: $size rgba(74, 118, 168, $op);
			 
			}
		}
		
		&--fb{
		 
			background-color: #3b5998;
			&:hover{
				box-shadow: $size rgba(59, 89, 152, $op);
			}
		}
		&--instagram{
			.icon{
				font-size: rem(22px);
			}

			background-color: #ef4a5a;
			&:hover{
				box-shadow: $size rgba(239, 74, 90, $op);
			}
		}
		&--play{
			.icon{
				font-size: rem(14px);
			}
			background-color: #f00;

			&:hover{
				box-shadow: $size rgba(255, 0, 0, $op);
			}
		}

	}
 
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

