
mixin header-block()
	// start header-block
	+b.header-block#header-block(class="wow fadeIn" data-wow-duration=`${dur}s`  data-wow-delay=`${delay}s`) 
		.container(class="wow fadeIn" data-wow-duration=`${dur * 2}s` data-wow-delay=`${delay * 2}s`) 
			+e.head.blockWithAnimate
				+e.logo.d-sm-none(href="/")
					img.res-i.lazy(src="#" data-src="img/prld.png", alt="")
					
				h1
					
					span.d-block Создаем имидж
					span.d-block лидера рынка
				+e.sub-title с помощью упаковки
				+e.text.d-none.d-sm-block Проведем детальный разбор текущего состояния упаковки вашего бизнеса, прежде чем внедрим в&nbsp;Ваш бизнес какой-либо инструмент.
				.blockWithAnimate.d-sm-none
					+e.foot
						+e.foot-item Сайты
						+e.foot-item Брендинг
						+e.foot-item SMM
						+e.foot-item Реклама 
				+e.btn.popup-with-move-anim(href="#modal-call" data-order="Стать лидером рынка"   ) Стать лидером рынка
			.blockWithAnimate.d-none.d-sm-block
				+e.foot
					+e.foot-item Сайты
					+e.foot-item Брендинг
					+e.foot-item SMM
					+e.foot-item Реклама  
	// end header-block